# 开发模式, debug, release, test
runmode: debug
# HTTP绑定端口
addr: :8080
# API Server的名字
name: apiserver
# pingServer函数请求的API服务器的ip:port
url: http://127.0.0.1:8080
# pingServer函数try的次数
max_ping_count: 5
gormlog: true
jwt_secret: Rtg8BPKNEf2mB4mgvKONGPZZQSaJWNLijxR42qRgq0iBb5
tls:
  addr: :8081
  cert: conf/server.crt
  key: conf/server.key
log:
  writers: file,stdout
  logger_level: DEBUG
  logger_file: log/apiserver.log
  log_format_text: false
  rollingPolicy: size
  log_rotate_date: 1
  log_rotate_size: 1
  log_backup_count: 7

db:
  name: db_apiserver
  addr: 127.0.0.1:3306
  username: root
  password: root

docker_db:
  name: db_apiserver
  addr: 127.0.0.1:3306
  username: root
  password: root